extends ../layout

block content
  .page-header
    h3 Transactions
    div
      ul
        each t in transactions
          h3 #{t._id}
          p #{t.value}
          p #{t.created}
          p #{t.sender}
          p #{t.receiver}
          p #{t.currency}
          p #{t.status}
          hr
