extends ../layout

block content
  .page-header
    h3 Create Transaction

  form.form-horizontal(action='/transaction', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='sender') Send To
      .col-sm-7
        input.form-control(type='email', name='email', id='email', value='')
    .form-group
      label.col-sm-3.control-label(for='value') Amount
      .col-sm-7
        input.form-control(type='text', name='value', id='value', value='')
    .form-group
      label.col-sm-3.control-label(for='multiSignature') Multi-Signature
      .col-sm-4
        label.radio.col-sm-4
          input(type='radio', checked=multiSignature=='true', name='multiSignature', value='true', data-toggle='radio')
          span True
    .form-group
      label.col-sm-3.control-label(for='packageConfirmation') Package Confirmation
      .col-sm-4
        label.radio.col-sm-4
          input(type='radio', checked=packageConfirmation=='true', name='packageConfirmation', value='true', data-toggle='radio')
          span True
    .form-group
      label.col-sm-3.control-label(for='fileUpload') File-Upload
      .col-sm-4
        label.radio.col-sm-4
          input(type='radio', checked=fileUpload=='true', name='true', value='fileUpload', data-toggle='radio')
          span True
    .form-group
      label.col-sm-3.control-label(for='thirdPartyAuthentication') 3rd Party Authentication
      .col-sm-4
        label.radio.col-sm-4
          input(type='radio', checked=thirdPartyAuthentication=='true', name='thirdPartyAuthentication', value='true', data-toggle='radio')
          span True
    .form-group
      label.col-sm-3.control-label(for='escrowPeriod') Escrow Period
      .col-sm-4
        label.radio.col-sm-4
          input(type='radio', checked=escrowPeriod=='true', name='escrowPeriod', value='true', data-toggle='radio')
          span True
    .form-group
      .col-sm-offset-3.col-sm-4
        button.btn.btn.btn-primary(type='submit')
          i.fa.fa-pencilr
          | Create Transaction
